@import url(https://cdn.adnz.co/business-click-fonts/GT-America/stylesheet.css);
@import url(https://cdn.adnz.co/business-click-fonts/PensumPro/stylesheet.css);
body {
  margin: 0;
  font-family: 'GT America', sans-serif;
  background: #f0f0f2;
}

.pc p {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  word-break: keep-all;
}

.pc p span.highlighted {
  color: #2c32bd;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.pc img {
  max-width: 100%;
  width: auto;
  display: block;
}

.pc .text-center {
  text-align: center;
}

.pc {
  color: #05032d;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
  width: 100%;
  max-width: 1920px;
  margin: 10px auto;
}

.pc h1, .pc h2, .pc h3, .pc h4, .pc h5 {
  font-family: 'Pensum Pro';
}

.pc * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
      hyphens: manual;
}

.pc__container {
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
}

.pc__container--transparent {
  background-color: transparent;
}

.pc__content {
  width: 100%;
  margin: 0 auto;
  padding: 0 120px 0 360px;
}

@media screen and (max-width: 1919px) {
  .pc__content {
    padding: 0 60px 0 300px;
  }
}

@media screen and (max-width: 1440px) {
  .pc__content {
    padding: 0 40px;
  }
}

@media screen and (max-width: 1024px) {
  .pc__content {
    padding: 0 24px;
  }
}

.pc__content--top {
  padding: 0 0 0 295px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1919px) {
  .pc__content--top {
    padding: 0 0 0 250px;
  }
}

@media screen and (max-width: 1440px) {
  .pc__content--top {
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .pc__content--top {
    margin-bottom: 24px;
  }
}

.pc__content-inner {
  padding: 15px 0;
}

.pc__content-inner.bt {
  border-top: 1px solid #f4f4f7;
}

.pc__content-inner.bb {
  border-bottom: 1px solid #f4f4f7;
}

.pc__content-title {
  font-size: 30px;
  line-height: 1.6666666666666667;
  font-family: 'Pensum Pro';
  font-weight: normal;
  margin: 0;
}

@media screen and (max-width: 1919px) {
  .pc__content-title {
    font-size: 26px;
  }
}

@media screen and (max-width: 1024px) {
  .pc__content-title {
    font-size: 22px;
  }
}

.pc__menu {
  position: fixed;
  top: 96px;
  left: 0;
  padding: 0 20px;
  width: 295px;
}

@media screen and (max-width: 1919px) {
  .pc__menu {
    width: 250px;
  }
}

@media screen and (max-width: 1440px) {
  .pc__menu {
    display: none;
  }
}

.pc__menu h4 {
  margin: 0 0 20px;
  font-size: 26px;
}

.pc__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pc__menu li {
  padding: 15px 0;
  border-top: 1px solid #f4f4f7;
}

.pc__menu li:last-child {
  border-bottom: 1px solid #f4f4f7;
}

.pc__menu a {
  color: #A8A8B4;
  text-decoration: none;
  font-weight: 100;
  font-size: 16px;
}

.pc__menu a.pc__menu--active {
  color: #6469e7;
  font-weight: bold;
}

.pc__menu a:hover {
  color: #6469e7;
}

.pc__header {
  width: 100%;
  padding: 50px;
  background-image: url("../img/8_variant_a.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center 92%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  min-height: 500px;
}

@media screen and (max-width: 1024px) {
  .pc__header {
    padding: 24px;
  }
}

.pc__header:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(70%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 70%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 70%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 70%);
}

.pc__header:after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 40%;
}

.pc__header-textbox {
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 1;
  font-family: 'Pensum Pro';
  padding-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .pc__header-textbox {
    bottom: 24px;
    left: 24px;
    padding-bottom: 24px;
  }
}

.pc__header-textbox:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #6469e7;
  height: 3px;
  width: 100px;
}

.pc__header-label {
  color: #6469e7;
  font-size: 20px !important;
}

.pc__header-title {
  color: #fff;
  font-size: 80px;
  margin: 15px 0;
  line-height: 1.25;
}

@media screen and (max-width: 1024px) {
  .pc__header-title {
    font-size: 60px;
  }
}

.pc__header-subtitle {
  color: #fff;
  font-size: 20px !important;
}

.pc__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.pc__item--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.pc__item-image {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.pc__item-image.square:before {
  padding-top: 100%;
}

.pc__item-image:before {
  content: "";
  display: block;
  width: 100%;
}

.pc__item-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
}

.pc__item-title {
  margin-top: 0;
  font-size: 28px;
  line-height: 1.2857142857142858;
}

.pc__item-lead {
  margin-bottom: 20px !important;
}

.pc__item-link {
  color: #6469E7;
  text-decoration: none;
}

.pc__item-link:hover {
  text-decoration: underline;
}

.pc__item-btn {
  color: #05032d !important;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #05032d;
  padding: 8px 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.pc__item-btn:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.pc-editorial .pc__content-row {
  padding: 20px 0 50px;
}

.pc-editorial .pc__item {
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .pc-editorial .pc__item {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .pc-editorial .pc__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pc-editorial .pc__item-title {
  font-size: 40px;
}

@media screen and (max-width: 1919px) {
  .pc-editorial .pc__item-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .pc-editorial .pc__item-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .pc-editorial .pc__item-title {
    font-size: 22px;
  }
}

.pc-editorial .pc__item-lead {
  font-size: 18px;
}

@media screen and (max-width: 1919px) {
  .pc-editorial .pc__item-lead {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .pc-editorial .pc__item-lead {
    font-size: 14px;
  }
}

.pc-editorial .pc__item-image {
  width: 360px;
  margin-right: 120px;
}

@media screen and (max-width: 1919px) {
  .pc-editorial .pc__item-image {
    margin-right: 50px;
    width: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .pc-editorial .pc__item-image {
    width: 200px;
    margin-right: 36px;
  }
}

@media screen and (max-width: 768px) {
  .pc-editorial .pc__item-image {
    width: 50%;
    margin: 0 0 24px;
  }
}

.pc-grossprojekte {
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .pc-grossprojekte .pc__content-row {
    padding-top: 24px;
  }
}

@media screen and (max-width: 768px) {
  .pc-grossprojekte .pc__item {
    display: block;
    width: 100%;
  }
}

.pc-grossprojekte .pc__item:not(:last-child) {
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .pc-grossprojekte .pc__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .pc-grossprojekte .pc__item:not(:last-child) {
    margin-bottom: 48px;
  }
}

.pc-grossprojekte .pc__item--reverse .pc__item-textbox {
  padding-right: 100px;
  padding-left: 0;
}

@media screen and (max-width: 1024px) {
  .pc-grossprojekte .pc__item--reverse .pc__item-textbox {
    padding-right: 36px;
  }
}

.pc-grossprojekte .pc__item-textbox {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 100px;
}

@media screen and (max-width: 1024px) {
  .pc-grossprojekte .pc__item-textbox {
    padding-left: 36px;
  }
}

@media screen and (max-width: 768px) {
  .pc-grossprojekte .pc__item-textbox {
    padding: 0;
    width: 100%;
  }
}

.pc-grossprojekte .pc__item-textbox > div {
  padding-top: 40px;
  position: relative;
}

@media screen and (max-width: 1919px) {
  .pc-grossprojekte .pc__item-textbox > div {
    padding-top: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .pc-grossprojekte .pc__item-textbox > div {
    padding-top: 24px;
  }
}

@media screen and (max-width: 768px) {
  .pc-grossprojekte .pc__item-textbox > div {
    margin-top: 24px;
  }
}

.pc-grossprojekte .pc__item-textbox > div:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6469e7;
  height: 3px;
  width: 50px;
}

.pc-grossprojekte .pc__item-image {
  width: 50%;
}

.pc-grossprojekte .pc__item-image:before {
  padding-top: 83.33333333333334%;
}

.pc-grossprojekte .pc__item-title {
  font-size: 40px;
}

@media screen and (max-width: 1919px) {
  .pc-grossprojekte .pc__item-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .pc-grossprojekte .pc__item-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .pc-grossprojekte .pc__item-title {
    font-size: 22px;
  }
}

.pc-grossprojekte .pc__item-lead {
  font-size: 18px;
}

@media screen and (max-width: 1919px) {
  .pc-grossprojekte .pc__item-lead {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .pc-grossprojekte .pc__item-lead {
    font-size: 14px;
  }
}

.pc-innovation {
  padding-top: 0;
}

.pc-innovation .pc__content-row {
  padding-top: 100px;
  padding-bottom: 105px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}

@media screen and (max-width: 1919px) {
  .pc-innovation .pc__content-row {
    padding-top: 60px;
    padding-bottom: 65px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (max-width: 1024px) {
  .pc-innovation .pc__content-row {
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .pc-innovation .pc__content-row {
    display: block;
    margin: 0;
    padding-top: 24px;
  }
}

.pc-innovation .pc__item {
  display: block;
  width: 25%;
  margin: 0 20px 20px;
  background-color: #fff;
}

@media screen and (max-width: 1919px) {
  .pc-innovation .pc__item {
    margin: 0 10px 10px;
  }
}

@media screen and (max-width: 1024px) {
  .pc-innovation .pc__item {
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .pc-innovation .pc__item {
    width: 100%;
    margin: 0 0 24px;
  }
}

.pc-innovation .pc__item-textbox {
  padding: 25px 35px;
}

@media screen and (max-width: 1919px) {
  .pc-innovation .pc__item-textbox {
    padding: 15px 20px;
  }
}

.pc-innovation .pc__item-title {
  font-size: 22px;
  line-height: 1.3636363636363635;
  font-weight: 300;
  margin-bottom: 15px;
}

@media screen and (max-width: 1919px) {
  .pc-innovation .pc__item-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 1919px) {
  .pc-innovation .pc__item-lead {
    font-size: 14px;
  }
}

@media screen and (max-width: 1919px) {
  .pc-innovation .pc__item-link {
    font-size: 14px;
  }
}

.pc-innovation .pc__item-image:before {
  padding-top: 72.72727272727273%;
}

.pc-okosystem {
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  .pc-okosystem {
    margin-top: 12px;
  }
}

.pc-okosystem .pc__content-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 30px;
}

@media screen and (max-width: 1919px) {
  .pc-okosystem .pc__content-row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (max-width: 1024px) {
  .pc-okosystem .pc__content-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding-top: 24px;
  }
}

.pc-okosystem .pc__item {
  width: -webkit-calc(50% - 60px);
  width: calc(50% - 60px);
  margin: 0 30px 60px;
}

@media screen and (max-width: 1919px) {
  .pc-okosystem .pc__item {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
    margin: 0 15px 30px;
  }
}

@media screen and (max-width: 1024px) {
  .pc-okosystem .pc__item {
    width: 100%;
    margin: 0 0 24px;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media screen and (max-width: 768px) {
  .pc-okosystem .pc__item {
    display: block;
  }
}

.pc-okosystem .pc__item-textbox {
  width: 50%;
  background-color: #F4F4F7;
  padding: 60px 35px;
}

@media screen and (max-width: 1919px) {
  .pc-okosystem .pc__item-textbox {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .pc-okosystem .pc__item-textbox {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .pc-okosystem .pc__item-textbox {
    width: 100%;
    padding: 36px 24px;
  }
}

.pc-okosystem .pc__item-title {
  font-size: 24px;
  line-height: 1.25;
  position: relative;
}

@media screen and (max-width: 1919px) {
  .pc-okosystem .pc__item-title {
    margin-bottom: 1em;
    padding-top: 20px;
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .pc-okosystem .pc__item-title {
    font-size: 22px;
  }
}

.pc-okosystem .pc__item-title:before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  background-color: #6469e7;
  height: 3px;
  width: 50px;
}

@media screen and (max-width: 1919px) {
  .pc-okosystem .pc__item-title:before {
    top: -5px;
  }
}

.pc-okosystem .pc__item-lead {
  font-size: 15px;
}

@media screen and (max-width: 1919px) {
  .pc-okosystem .pc__item-lead {
    font-size: 14px;
  }
}

@media screen and (max-width: 1919px) {
  .pc-okosystem .pc__item-link {
    font-size: 14px;
  }
}

.pc-okosystem .pc__item-image {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .pc-okosystem .pc__item-image {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .pc-okosystem .pc__item-image {
    width: 100%;
  }
}

.pc-okosystem .pc__item-image img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
}

.pc-okosystem .pc__item-image:before {
  padding-top: 122.60869565217392%;
}

.pc-leader .pc__content-row {
  padding-top: 40px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 1919px) {
  .pc-leader .pc__content-row {
    padding-bottom: 60px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (max-width: 1024px) {
  .pc-leader .pc__content-row {
    padding-top: 24px;
    padding-bottom: 0;
  }
}

.pc-leader .pc__item {
  display: block;
  width: -webkit-calc(25% - 40px);
  width: calc(25% - 40px);
  margin: 0 20px 40px;
  background-color: #F4F4F7;
}

@media screen and (max-width: 1919px) {
  .pc-leader .pc__item {
    width: -webkit-calc(25% - 20px);
    width: calc(25% - 20px);
    margin: 0 10px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .pc-leader .pc__item {
    width: -webkit-calc(100%/3 - 20px);
    width: calc(100%/3 - 20px);
  }
}

@media screen and (max-width: 768px) {
  .pc-leader .pc__item {
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
  }
}

.pc-leader .pc__item-textbox {
  padding: 40px 35px;
}

@media screen and (max-width: 1919px) {
  .pc-leader .pc__item-textbox {
    padding: 25px 20px;
  }
}

@media screen and (max-width: 768px) {
  .pc-leader .pc__item-textbox {
    padding: 15px 20px;
  }
}

.pc-leader .pc__item-title {
  font-size: 22px;
  line-height: 1.3636363636363635;
  font-weight: 300;
  margin-bottom: 15px;
}

@media screen and (max-width: 1919px) {
  .pc-leader .pc__item-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 1919px) {
  .pc-leader .pc__item-link {
    font-size: 14px;
  }
}

.pc-leader .pc__item-image:before {
  padding-top: 72.72727272727273%;
}

/*nzz*/
.pc.nzz {
  font-family: 'GT America', sans-serif;
}

.pc.nzz .pc__text,
.pc.nzz ul {
  font-family: 'Pensum Pro', sans-serif;
}

.pc.nzz .pc__header--title,
.pc.nzz p.pc__title,
.pc.nzz q {
  font-family: 'Pensum Pro', sans-serif;
  font-weight: 700;
}

.promoted-content-nzz #adnz-promoted-content {
  background: #f0f0f2;
  margin-top: 20px;
}
